[2019-11-13 13:07] manovotn opened #195 "Maven artifacts for TCKs"
@starksm64 all previous CDI TCK releases were available as artifacts in maven central.
Would it be possible to keep it that way under jakarta?

Having a ZIP released is nice but most projects run simply on maven artifacts and having a release which is not downloadable is awkward.

I am talking about latest TCK 2.0.6 release which is only available as ZIP. Moving Weld to use Jakarta GAVs all the wa

[2020-02-19 14:48] manovotn commented on #195
I've solved most job config problem and minor project setup hiccups, but currently the release job I've made fails on uploading the artifacts into sonatype. I'm trying to understand what's going on there.

The job is visible here - https://ci.eclipse.org/cdi/job/CDI-TCK-Release-Job

[2020-02-19 16:17] starksm64 commented on #195
Ok, I'll take a look at the job

[2020-02-20 04:07] starksm64 commented on #195
The release to the ossrh repo was failing due to the use of org.jboss.cdi.tck groupId as this is not associated with the cdi CI user on the new repo, so I changed it to jakarta.enterprise groupId we are now using for the parent in the cdi-api artifacts.

The build is still failing because it is pulling in the dist build from the jakartaredhat which is now out of date. I suppose that needs to be me

[2020-02-20 12:39] manovotn commented on #195
Oh, that's a good catch, thanks!

I think we can take what's under ` jakartaredhat/build/dist-tck/2.0` and put that as a separate release-only module in this repo. I can take a look at it later this week or by the beginning of the next one.

[2020-02-28 08:50] manovotn commented on #195
I've managed to get the release job pass - https://ci.eclipse.org/cdi/job/CDI-TCK-Release-Job/24/

That means that artifacts were uploaded to staging repo in OSS and dist ZIP was uploaded as well.

However, I still lack knowledge on how to log into OSS (what credentials are supposed to work as my commiter login doesn't work there) to release the artifacts and I cannot find the uploaded dist files

[2020-03-17 16:52] starksm64 opened #208 "Need to update the Jakarta EE 8 TCK release"
While there was a 2.0.6.SP1 release to maven, we did not update the Jakarta EE 8 TCK, so that needs to happen as well.

[2020-03-17 19:25] manovotn commented on #208
Well, the release did the artifact upload part as well; check the job config. Is there some new place where it should be uploaded?

We should probably create a Wiki page on the repo describing these things...

[2020-03-17 19:30] starksm64 commented on #208
Yes, I'm just going to add the upload step to the script you created. Yes, definitely need to wiki describing the various jenkins jobs.

[2020-09-04 15:13] scottmarlow opened #215 "Tests that reference optional technologies moved from Java SE 8 to Jakarta EE 9 should be removed or made optional"
As [per the Jakarta EE 9 release plan](https://eclipse-ee4j.github.io/jakartaee-platform/jakartaee9/JakartaEE9ReleasePlan) any CDI tests that reference the below mentioned **optional** technologies should be removed or made optional.:

[code]

Note that this impacts both Full Platform + Web Profile.

[2020-09-04 15:57] starksm64 commented on #215
I don't think there is any question that the associated tests need to move to the javaee-full test group that CDI has. The question is, how are optional tests handled. Would we need a new javaee-full-optional group as well?

@scottmarlow what does the full tck run do now when it is validating optional tests?

[2020-09-04 17:25] scottmarlow commented on #215
The Platform TCK (Full) run allows optional tests to be included or excluded via keywords defined in [keyword.properties](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/src/com/sun/ts/lib/harness/keyword.properties#L233) which is [described in the TCK user guide doc](https://github.com/eclipse-ee4j/jakartaee-tck/blob/master/user_guides/jakartaee/src/main/jbake/content/using.adoc).

To s

[2020-09-04 18:42] starksm64 commented on #215
The plan only indicates what specs are optional. The profile spec indicates
which specifications make up the profile, and the web profile does not
reference JWS, so those tests should not be in that set of tests. I thought
that is what we decided on this week's committee call, but we will bring it
up on both the platform and spec calls.

On Fri, Sep 4, 2020 at 12:25 PM Scott Marlow <notifications@

[2020-09-04 19:25] scottmarlow commented on #215
Does the CDI TCK still need changes to allow for full platform implementations that do not implement optional JWS?

[2020-09-04 19:53] starksm64 commented on #215
Yes because it currently has no notion of a test group that could be used
to isolate the JWS tests. I think we need a javaee-full-optional group
added.

On Fri, Sep 4, 2020 at 2:25 PM Scott Marlow <notifications@github.com>
wrote:

[2020-09-04 20:26] edbratt commented on #215
@lanceanderson any thoughts on how this would best be accomplished?

[2020-09-05 00:25] starksm64 commented on #215
Looking into this further, we had already removed the JWS tests from the TCK. There are no tests that refer to the wsdl or remaining class that uses the jakarta.jws.* types. I'll create a separate staging release for testing that has these vestiges removed.

[2020-09-05 01:54] starksm64 commented on #215
Try this version:
https://download.eclipse.org/ee4j/cdi/3.0/cdi-tck-3.0.2-dist.zip

[2020-09-05 09:48] scottmarlow commented on #215
https://ci.eclipse.org/jakartaee-tck/job/cditck-porting/job/master/85 is testing https://download.eclipse.org/ee4j/cdi/3.0/cdi-tck-3.0.2-dist.zip with Web Profile.  I expect the same failure to occur due to what looks like an annotation scanning bug mentioned in https://github.com/eclipse-ee4j/glassfish/issues/23184.  I now believe that based on your assessment of the CDI TCK that not further fail

[2020-09-09 19:03] scottmarlow commented on #215
Since there are no jakarta.xml.ws.WebServiceRef's actually used by CDI TCK tests, I don't think that we need to do anything else for this issue.

[2020-09-16 19:19] scottmarlow commented on #215
Please reopen if this issue is needed.

[2020-09-16 19:19] #215 closed

[2020-10-13 09:17] smillidge opened #216 "persistence.xml is not using Jakarta EE 9 schemas"
The following file does not reference the Jakarta EE 9 schema https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/resources/org/jboss/cdi/tck/tests/implementation/simple/resource/persistenceContext/persistence.xml

[2020-12-04 16:10] manovotn opened #217 "CustomCDIProviderTest is incorrect"
@starksm64 This change became incorrect after accepting the following change into cdi master - https://github.com/eclipse-ee4j/cdi/pull/445

The test asserts that you can return a provider which return `null` for its `getCDI()` call, but the code now guards against it.
I will send a fix for this shortly.

[2020-12-04 16:37] manovotn opened #219 "Project not buildable on JDK 11 out of the box"
Just checking out the project and running `mvn clean install` with JDK 11 gives:
[code]

This is not very friendly and we should find the cause and fix it.

[2021-01-05 14:32] manovotn opened #220 "Update testng version and relevant bits"
Going through some dep updates in Weld, I figured I cannot update TestNG from 6.x to 7.x because newer versions by default disable loading DTD from unsecure urls. And the files are declared in CDI TCK, namely [here](https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/resources/tck-tests.xml) and [here](https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/resources/tck-te

[2021-03-03 20:56] brideck opened #222 "Update beans.xml files to version 3.0"
The CDI TCK currently uses the Shrinkwrap API to construct its test applications, including dynamic generation of metadata files like beans.xml.  This results in all of the beans.xml files in the TCK being stuck at version 1.1:

`<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bean-discovery-mode="all" version="1.1" xsi:schemaLocation="http:/

[2021-03-04 09:57] tevans78 commented on #222
Should there be tests for all previous versions as well as the latest one? They should all work still.

[2021-03-04 10:07] Emily-Jiang commented on #222
Agreed with @brideck for update the beans.xml to version 3.0. @tevans78 I don't think the tcks should cover the mix and match scenario though.

[2021-03-04 10:22] tevans78 commented on #222
Section 12.1 of the spec (Bean Archives) says

Therefore a beans.xml with version 1.1. and 2.0 should also work in order to be spec compliant. It is implied that a beans.xml with version 1.0 should also work in general.

[2021-03-04 11:06] manovotn commented on #222
Yes, it should work with older versions as well (which is basically why all of TCKs pass with current implementations in the first place).
TCKs, as they are now, should switch to new version. Whether we want to add another tests for older versions is up to us - we can but don't need to.

[2021-03-04 11:13] tevans78 commented on #222
@manovotn are you aware of any plans to update ShrinkWrap Descriptors to support EE9?

[2021-03-04 11:34] manovotn commented on #222
@tevans78 this one https://github.com/shrinkwrap/descriptors?

No, I am not. And looking at the commits, it's been dead for some time now. That being said, if there were contributions we could revive it (I suppose I could get to someone who has commit rights). But I have no idea how much work would it be to update it; it is a lot of descriptors and CDI really only cares about a fraction and I have

[2021-03-04 21:29] Emily-Jiang commented on #222
I am a bit confused on which version of beans.xml the cdi tck should use. Should we use the latest beans.xml and then which tests should use old version of beans.xml?

[2021-03-05 12:17] tevans78 commented on #222
Most tests should use the latest version but there should be some coverage for older versions as well. Otherwise, the wording of the spec should be changed/clarified.

[2021-03-09 15:39] manovotn commented on #222
After some more probing I found out that the shrinkwrap descriptors project would probably be a lot of work given what we need and that we don't really have any other interested party.

OTOH, I found that Weld in some older version already implemented a `beans.xml` builder - https://github.com/weld/core/blob/master/tests-common/src/main/java/org/jboss/shrinkwrap/impl/BeansXml.java
We could most li

[2021-03-10 11:06] manovotn commented on #219
The cause of this issue is that we use the following repo - https://github.com/jboss/jboss-test-audit

It generates the `Sections` class which helps linking tests directly to specification statements. This feature is from my personal experience very valuable and helps figure out whether something is tested or not so I'd like to preserve it.
However, the repo is not updated (a very simple fix), the

[2021-03-10 13:16] #220 closed

[2021-03-10 13:17] #217 closed

[2021-03-12 14:22] #219 closed

[2021-03-16 01:16] manovotn commented on #222
I have a WIP branch here - https://github.com/manovotn/cdi-tck/commits/issue222
It's not complete (missing tests for the new API itself and change of existing `beans.xml` files to new schema) but it shows that porting the simple API for `beans.xml` creation seems like a way to go.

However, there will still be 30+ occurrences of Shrinkwrap descriptors for other than `beans.xml` files (manifest, we

[2021-04-08 21:50] edbratt opened #225 "Contribute the User Guide"
This project refers to the [Java EE JCP based TCK User Guide](http://docs.jboss.org/cdi/tck/reference/latest/en-US/html/). Please consider contributing this to the Jakarta EE project so that it can be updated with the correct process details can be included (as well as updates related to Jakarta versions, etc.)

[2021-04-09 02:20] starksm64 commented on #225
the user guide is located in the cdi-tck/doc/reference/src/main/asciidoc/ of this repository. That link is out of date and needs to be updated on the root readme.

[2021-04-09 05:51] starksm64 commented on #225
The main README now links to the GitHub pages version of the generated TCK user guide.

[2021-04-09 05:51] #225 closed

[2021-04-16 21:02] #222 closed

[2021-05-10 08:09] manovotn opened #231 "Change declaration of jboss repository from http to https"
Currently, the project fetches some dependencies from jboss repositories which is fine.

However, it declares the repo using `http` instead of `https` which becomes an issue with newer Maven (3.8.1+).
Maven changed their default behavior because of a CVE issue, see also https://maven.apache.org/docs/3.8.1/release-notes.html

Any build (TCK or an impl using them) with the above stated maven version

[2021-05-10 11:32] manovotn commented on #231
Looking at current state, we actually don't have a branch for 3.0 and master should, by now, be 4.x (or at least 3.1 or something).
So I've created a 3.0 branch that's basically current master minus my last commits around API for programmatic beans.xml declaration (which are relevant to next version). See https://github.com/eclipse-ee4j/cdi-tck/tree/3.0
I will change master to be 4.x momentarily t

[2021-05-11 00:49] edbratt opened #236 "Please add License file"
I think this repository needs a license file in the TLD. Please consider adding the appropriate documentation.

[2021-05-11 10:40] manovotn commented on #231
Resolved by #232 #233 #234.
I have managed to release an SP version of 2.x and 3.x branches both of which should now be available in Central.

[2021-06-03 19:25] starksm64 commented on #236
The LICENSE file with ASL as the license has been added

[2021-06-03 19:25] #236 closed

[2021-06-03 19:46] starksm64 opened #237 "Get TCK to run under Java SE 17"
Currently EE10 is targeting allowing or even requiring that a TCK can be run under Java SE 17. Currently the embedded set of tests pass, but when running against the wildfly23 preview, there is a problem loading the arquillian wildly container configuration:

[code]

While running under Java SE 11 produces:
[code]

[2021-06-03 20:02] starksm64 commented on #237
There are some inconsistencies across runs and I also need a build of wildfly master to test against. I'll reopen once the failures are consistent.

[2021-06-03 20:02] #237 closed

[2021-06-06 23:32] starksm64 opened #238 "Incorrect type assumptions in EnvInjectionTest#testResourceBeanTypes under Java SE 12+"
The org.jboss.cdi.tck.tests.implementation.simple.resource.env.EnvInjectionTest#testResourceBeanTypes is validating the number of types seen in the Bean<Boolean> type with the Greeting annotation. It is expecting a total of four types, which through Java SE 11 would include:
java.lang.Boolean
java.io.Serializable
java.lang.Comparable<Boolean>
java.lang.Object

In Java SE 12 the java.lang.Boolean c

[2021-06-07 01:37] #238 closed

[2021-06-07 01:40] starksm64 commented on #216
The persistence.xml files were updated in 248dbcd0a4c32cdfc55e04b3fd4ddab13c3ac3c7

[2021-06-07 01:40] #216 closed

[2021-06-10 07:25] manovotn opened #239 "Update CDI API to 4.0.0.Alpha1, rework tests using deprecated methods"
CDI API 4.0.0.Alpha1 removed some long deprecated methods.

CDI TCK are still using those (`BM.fireEvent()`, `@New` tests etc) so we need to rework those tests and cut a release which can be consumed by implementors.

[2021-06-13 19:58] #239 closed

[2021-06-14 16:37] scottmarlow opened #241 "CDI 3.0 TCK challenge of incorrect type assumptions in EnvInjectionTest#testResourceBeanTypes under Java SE 12+"
Testing with Java SE 17 (early access) to run https://download.eclipse.org/jakartaee/cdi/3.0/cdi-tck-3.0.1-dist.zip tests  + WildFly master is seeing failure:

[code]
This is already resolved for upstream issue https://github.com/eclipse-ee4j/cdi-tck/issues/238.

Needed action:
- Please add `challenge` label for this issue.
- Within two weeks, please accept this challenge or reject it.
- If the ch

[2021-06-14 17:52] starksm64 commented on #241
To create an exception list we need to resin a release, so we might as well fix the issue in the 3.0 branch and release a 3.0.2 version.

[2021-06-16 02:24] starksm64 commented on #241
3.0.3 TCK has been promoted:
https://download.eclipse.org/jakartaee/cdi/3.0/cdi-tck-3.0.3-dist.zip

[2021-06-16 14:33] scottmarlow commented on #241
Thanks Scott, will run this now!

[2021-06-16 15:44] scottmarlow commented on #241
With Java SE 17 (EA) I am still seeing:
[code]

[2021-06-16 16:26] starksm64 commented on #241
Ok, I'll take a look

[2021-06-16 19:35] starksm64 commented on #241
I'm able to run the embedded tests fine using Java 17, but I'm back to not being able to run against a build of wildfly main branch because of some arquillian issue. I'll have to track this down first.

[code]

[2021-06-16 23:03] scottmarlow commented on #241
I have a hack for the ^ failure, I'll paste it in here.

[2021-06-16 23:08] starksm64 commented on #241
There are changes needed to the src/test/wildfly8/arquillian.xml and pom.xml from the weld/jboss-tck-runner to not pass in obsolete GC arguments that Java SE 17 rejects and for the module opens statements. I'll see if I can update the build of the dist/weld porting package contents to include this without a new release of weld.

[2021-06-16 23:13] scottmarlow commented on #241
^ above steps are using https://github.com/scottmarlow/core/tree/wildfly_jdk17 which removes the obsolete arguments.

[2021-06-16 23:15] starksm64 commented on #241
Ok, technically these are just configuration changes and doing that to pass the TCK is allowed and fine. I will work on getting the bundled weld porting package to run against the current weld release and wildfly-24.0.0.Beta1

[2021-07-08 12:53] manovotn opened #243 "Introduce working CI again"
The repo still uses travis config which is now dead.
We should add GH actions as we did for CDI API repo.

[2021-07-08 13:04] #243 closed

[2021-08-10 18:40] #208 closed

[2021-08-10 18:52] starksm64 opened #247 "Add a processSources phase to the WebArchiveBuilder"
When the JarArchiveBuilder was introduced to test cdi-lite specific behavior, it added a call to processSources(archive) to attache the test source files to the archive for use in build time processing. It was not added to WebArchiveBuilder because it was not clear if we would switch all cdi-lite tests to use JarArchiveBuilder. Since we are not, we need to add source addition to the WebArchiveBuil

[2021-08-10 18:58] starksm64 opened #248 "Change default discovery mode from ALL to ANNOTATED;"
As per the discussed 4.0 CDI changes, the default discovery mode for an empty beans.xml file needs to change from ALL to ANNOTATED.

[2021-08-11 04:35] #247 closed

[2021-08-11 06:10] #248 closed

[2021-08-22 02:36] starksm64 opened #255 "Add @Dependent annotation to restore behavior of core tests to match the new empty beans.xml"
Many tests do need to be updated for the empty beans.xml default behavior defined in:
https://github.com/eclipse-ee4j/cdi/issues/500

Many beans need the @Dependent annotation added to be seen.

[2021-08-22 02:51] #255 closed

[2021-08-24 16:31] starksm64 opened #258 "Add a new cdi-full test group"
We need to distinguish between test common to both CDI-lite and the full CDI specification requirements. Discussions concluded that the best way to do this would be via a new cdi-full test group to mark tests that make use of features like @Interceptors, @Decorator, passiviation, portable extensions, etc.

[2021-08-24 16:59] starksm64 opened #259 "Look into updating the audit files"
The TCK has various tck-audit-*.xml files that conform to the http://jboss.com/products/weld/tck/audit schema that providing a mapping from specification assertions and associated text to the actual unit test. This has gotten out of date, and it should be a goal to bring these files back into alignment with the specifications.

With the move to asciidoc, it may be possible to create a converter th

[2021-08-25 08:49] manovotn commented on #259
Thanks for filing the issue. Had it on my TODO but went offline earlier yesterday.

To fill in some details:
* TCKs  audit files were for CDI spec, interceptors and managed bean definition although we are mainly looking at having it working for CDI
  * They can be seen [here](https://github.com/eclipse-ee4j/cdi-tck/tree/master/impl/src/main/resources)
* Upon building TCKs, a file is generated loca

[2021-08-25 08:52] manovotn opened #260 "Create TCK test that asserts annotated discovery mode for empty beans.xml"
With new CDI version, we want to change default empty `beans.xml` perception from `ALL` discovery to `ANNOTATED` discovery.
This requires a new TCK test - I will prepare a PR with it.

[2021-08-25 16:12] starksm64 opened #262 "Use CDI_FULL test group to exclude @Interceptors tests"
Breaking up the sets of tests into separate categories, first @Interceptors based tests need to added to the CDI_FULL test group.

[2021-08-25 16:13] starksm64 opened #263 "Use CDI_FULL to exclude @Decorator tests"
Breaking up the sets of tests into separate categories, @ Decorator based tests need to added to the CDI_FULL test group.

[2021-08-25 16:25] starksm64 opened #264 "Use CDI_FULL to exclude passiviation tests"
Breaking up the sets of tests into separate categories, passivation based tests need to added to the CDI_FULL test group.

[2021-08-25 16:26] starksm64 opened #265 "Use CDI_FULL to exclude portable extension tests"
Breaking up the sets of tests into separate categories, portable extension based tests need to added to the CDI_FULL test group.

[2021-08-25 16:27] #258 closed

[2021-08-27 08:03] dstepanov opened #268 "`org.jboss.cdi.tck.tests.extensions.beanManager.Snake` Defines incorrect producer field"
According to the spec:
[code]
I would assume that this class should throw an error on deploy of `BeanManagerTest`:
[code]

[2021-08-27 08:17] dstepanov opened #269 "Tests are relying on undefined interceptors order"
I haven't found any mention of the default interceptor order in the spec but I saw multiple tests that are assuming some order:

`org.jboss.cdi.tck.interceptors.tests.order.aroundConstruct.AroundConstructOrderTest`
`org.jboss.cdi.tck.interceptors.tests.contract.aroundConstruct.AroundConstructTest` - `testExceptions`
`org.jboss.cdi.tck.interceptors.tests.contract.aroundConstruct.bindings.AroundCons

[2021-08-27 08:25] dstepanov opened #270 "`java.lang.reflect.Type`s equality should't be asserted by `equals` for some cases"
`org.jboss.cdi.tck.tests.event.metadata.EventMetadataTest`

Micronaut will return a custom instance of `ParameterizedType` which is not going to match the reflection implementation.

[2021-08-27 08:42] dstepanov opened #271 "`@Disposes` with a missing producer should fail on deploy"
`DisposalMethodDefinitionTest` should detect an incorrect definition of `DisposalNonBean` on deploy.

[code]

[2021-08-27 08:53] #269 closed, assigned to nobody

[2021-08-27 23:16] #268 closed

[2021-08-30 15:41] Ladicek commented on #259
I was able to build a proof of concept. Here's how the outcome looks like: https://ladicek.github.io/cdi-tck/#legal_bean_types

The proof of concept code itself is here:l https://github.com/Ladicek/specref

The required changes to CDI spec are here: https://github.com/Ladicek/cdi-spec/commits/specref

And the required changes to CDI TCK are here: https://github.com/Ladicek/cdi-tck/commits/specref

[2021-08-30 18:25] starksm64 commented on #259
@Ladicek So you also created a io.smallrye.specref-core repo as well, because I'm not finding that in the io.smallrye org. Is that an asciidoc extension or converter?

[2021-08-31 07:10] Ladicek commented on #259
@starksm64 I used the `io.smallrye` package name, because I thought that's where we would put it, but I _didn't_ make this official in any way yet. So no, there's nothing in the smallrye org. It's a proof of concept.

The `specref:abc[Some text in the spec]` is an Asciidoctor inline macro, and it's handled by an Asciidoctor extension. Actually 2 extensions -- one just passes through the `Some text

[2021-08-31 19:01] starksm64 opened #272 "Add a new parent package for the CDI full tests"
Add a new parent org.jboss.cdi.tck.tests.full package to use as the root for all CDI tests with the cdi-full group. This should be done as test group is updated.

[2021-08-31 19:02] starksm64 opened #273 "CDI-lite test update strategy"
Based on today's CDI call, we want to revert #256, and then redo it in smaller stages based on small blocks of packages of tests after first applying the cdi-full group to tests based on:
* #262
* #263
* #264
* #265
* #289

We also want to move the cdi-full tests into a new package to separate them from the lite tests as this regrouping is done. The issue for that is #272.

[2021-09-04 20:34] starksm64 commented on #272
PR #274  introduces a new org.jboss.cdi.tck.tests.full package.

[2021-09-04 21:36] starksm64 opened #276 "Need to support a two pass run mode to properly deal with tests run against annotation processor output"
The current approach that attempts to reload classes generated from annotation processing is producing class loading issues, so we need to use a two pass approach that allows the test source to be passed to an annotation processor via the SourceProcessor SPI, and then run the tests against the resulting updated tests.

[2021-09-13 22:19] manovotn opened #282 "Provide test coverage for @Priority used on a stereotype"
Provided https://github.com/eclipse-ee4j/cdi/issues/495 gets accepted, we will need test coverage for it.

Namely we need tests that:
* Use `@Stereotype` with `@Priority` to enable interceptor
* Use `@Stereotype` with `@Priority` to enable decorator (Full only!)
* Use `@Stereotype` with `@Priority` to enable alternative
* Have a `@Alternative` bean declaring two stereotypes both of which have `@Pr

[2021-09-16 12:35] manovotn commented on #265
Two parts are sent, reviewed and merged and I am hoping to post the remaining part today or tomorrow.
Most of it should hopefully be just moving tests to `full` package as they already reside in packages suggesting tests purely for portable extensions (therefore with no test coverage loss for Lite)

[2021-09-17 14:35] manovotn commented on #265
I've sent the last part of changes. If accepted, this issue can IMO be resolved.

[2021-09-20 13:14] #265 closed

[2021-09-20 15:27] #264 closed

[2021-09-20 15:27] #263 closed

[2021-09-20 15:32] starksm64 commented on #272
The various reworkings of the tests has moved cdi-full tests to under a org.jboss.cdi.tck.tests.full root package

[2021-09-20 15:32] #272 closed

[2021-09-20 16:17] starksm64 opened #289 "Address missing bean defining annotations in Lite portion of tests"
With the non-Lite tests moved under the full package and labelled with the cdi-full test group, the Weld jboss-tck-runner emedded tests show the following failure count due to missing bean defining annotations:

[ERROR] Tests run: 1423, Failures: 385, Errors: 0, Skipped: 245

The next step in #273 is to add the missing bean defining annotations to obtain a clean run of the core tests under Weld.

[2021-09-20 17:16] starksm64 opened #290 "More decorator related tests need the cdi-full test group"
In looking at current core tests failures related to missing bean defining annotations, I came across the org.jboss.cdi.tck.tests.implementation.builtin.metadata.broken.injection.decorated package tests. These are using @Decorated and validating the requirements around that qualifier.

Another test is org.jboss.cdi.tck.tests.implementation.builtin.metadata.broken.injection.BuiltinDecoratorInjectio

[2021-09-20 17:39] manovotn commented on #289
@starksm64 I was planning on doing this once your PR was merged. If you want, I can take it over.

[2021-09-20 17:42] starksm64 commented on #289
@manovotn sure, go ahead. I am currently working on #290 as I saw several decorator related tests using the Decorated qualifier that were not moved to cdi-full. I'm half way through that, so a PR will be coming shortly so you can avoid updating those tests.

[2021-09-20 17:43] manovotn commented on #289
Alright, I will start working on this tomorrow :)

[2021-09-20 19:20] starksm64 commented on #290
@manovotn can you look at the org.jboss.cdi.tck.tests.lookup.injectionpoint.{InjectableReferenceTest,InjectionPointTest} test. There are several decorators in there, but they don't seem to be tested. Not sure if those tests should move to cdi-full, so I left them alone.

[2021-09-21 09:47] manovotn commented on #290
Both decorators are in fact used. However, the one in `InjectableReferenceTest` can be replaced by interceptor (as it tests something unrelated to decorators).
The other test needs to be partly moved to Full.
I have sent a PR that addresses these two tests - https://github.com/eclipse-ee4j/cdi-tck/pull/292

[2021-09-21 15:51] starksm64 commented on #262
I think we are good to close this.

[2021-09-21 15:51] #262 closed

[2021-09-21 16:07] #290 closed

[2021-09-21 16:12] starksm64 opened #293 "BeanManagerObserverNotificationTest.fireEvent failure"
After pulling in the latest updates I'm seeing the following test failure in the org.jboss.cdi.tck.tests.full.* tests:

[code]

The problem is the addition of the @Test(groups = CDI_FULL) at the class level is causing all public methods to be treated as test methods. This class only has one test, so moving the groups setting to that test fixes the problem.

[2021-09-21 16:17] #293 closed

[2021-09-23 00:27] scottmarlow commented on #241
Steps to reproduce with WildFly that is already copied to wildfly local folder folder (from wildfly/ee-9/dist/target/wildfly-preview-25.0.0.Beta1-SNAPSHOT):
[code]

[2021-09-23 01:07] starksm64 opened #298 "Add a BeanConfigurator.priority TCK test"
Issue to track a test for the new BeanConfigurator.priority https://github.com/eclipse-ee4j/cdi/pull/532 change

[2021-09-23 11:47] starksm64 commented on #289
@manovotn with the latest changes it looks like we are down to 95 errors with Weld on core tests:
[code]

You mentioned being off at some point this week, so just assign this issue to me if you don't finish before you leave.

[2021-09-23 12:40] manovotn commented on #289
@starksm64 yea, I have covered most at this point and I plan on finishing that today or tomorrow :-)
BTW I will be off next Tue through Fri.

[2021-09-23 13:45] scottmarlow commented on #241
To debug wildfly running EnvInjectionTest#testResourceBeanTypes, I tried the following but my breakpoint didn't seem to be reached in the EnvInjectionTest code:
[code]

@starksm64 any suggestions for how to debug the failing test as deployed in the loaded WildFly?

[2021-09-23 13:47] scottmarlow commented on #241
For reference from the started WildFly server.log:
[code]

[2021-09-23 13:54] scottmarlow commented on #241
Also for reference, https://github.com/scottmarlow/core/commit/ba556b5abae01df7ac4c17e13710f1edc10dcb18 is where I specified the JDK 17 options for the TCK testing with WildFly.

[2021-09-23 14:04] scottmarlow commented on #241
Hmm, just noticed rookie mistake, the line numbers in the source I am debugging with is different :-)

[2021-09-23 14:50] #298 closed

[2021-09-23 18:15] scottmarlow commented on #241
Tip from James Perkins helped, using -Dsurefire.plugin.jdk9.args=-agentlib:jdwp=transport=dt_socket,address=8787,server=y,suspend=y
[code]

[2021-09-23 19:14] scottmarlow commented on #241
From debugging, it seems like I am not using the CDI TCK 3.0.3 TCK but instead am using 3.0.1 as I get jdb failures like:
[code]

[2021-09-23 23:04] scottmarlow commented on #241
Fixed by updating `cdi.tck.version` to `cdi.tck-3-0.version` in:
`mvn  $JDK17OPTIONS clean verify -f jboss-tck-runner/pom.xml -Dincontainer -Dcdi.tck-3-0.version=${TCK_VERSION} -Dmaven.test.failure.ignore=true test -Dtest=org.jboss.cdi.tck.tests.implementation.simple.resource.env.EnvInjectionTest`

[2021-09-23 23:04] #241 closed

[2021-09-24 09:55] manovotn commented on #273
Note that we didn't make an issue for specialization tests. I tried addressing that as I went over https://github.com/eclipse-ee4j/cdi-tck/issues/289 but a few tests might have slipped through. It should be easy enough to catch once MN starts executing their Lite impl though (which presumably lacks specialization support).

Then there is the question of injection of `BeanManager` into tons of test

[2021-09-24 20:51] #289 closed

[2021-09-24 21:40] starksm64 commented on #273
Thanks @manovotn, when I pulled in the changes into a clone of cdi-tck upstream and ran against the weld core tck-runner, I'm seeing one error:
[code]

Add a dependent qualifier to Donkey_Broken fixed the issue.

[2021-09-24 21:40] #273 closed

[2021-09-24 22:46] manovotn commented on #273
Interesting, I even double checked that and always had all tests passing. Don't know how come it didn't fail for me. The change you made seems correct

[2021-09-25 08:50] manovotn commented on #273
@starksm64 hmm, this test is not executed for me (which is why I missed it) when I do `mvn clean verify` and I cannot seem to figure out why.
When I ran it explicitly (`-Dtest=..`) then it indeed fails because it missed the `@Dependent` annotation *and* it should be `CDI_FULL` group.

Did you execute those tests in any other way? Or do you have any other extra commit changing some setup?
I can see

[2021-09-25 14:38] starksm64 commented on #273
Ok, strange. I was  using the embedded profile jboss-tck-runner with the tck-core-suite.xml, so I had added that to the surefire configuration:

+                            <suiteXmlFiles>
+                                <suiteXmlFile>target/suites/tck-core-suite.xml</suiteXmlFile>
+                            </suiteXmlFiles>

That is the difference. TestNG will scan all classes for annotations

[2021-09-25 20:17] manovotn commented on #273
Hmm, so the default profile in Weld doesn't have this applied automatically? I need to remember to look at that on Mon...
But you are right that this indeed looks like the cause, thanks for the hint!

[2021-09-27 07:28] manovotn opened #303 "Provide test coverage for programmatic lookup improvements"
Test coverage issue for https://github.com/eclipse-ee4j/cdi/issues/521

We should be able to use some tests that are already existing in [Weld](https://github.com/weld/core/tree/master/tests-arquillian/src/test/java/org/jboss/weld/tests/instance/enhanced).

[2021-10-27 08:22] manovotn opened #305 "Adjust test(s) related to bean discovery in CDI Full"
Changes done in https://github.com/eclipse-ee4j/cdi/pull/549 remove the affect of present/absent `version` attribute of beans.xml on chosen bean discovery mode.
I recall that I saw at least one test that verifies this. We should look that up and adjust it.

[2021-10-27 09:38] manovotn opened #306 "Provide test coverage for CDI Lite language model"
CDI Lite comes with a new language model abstraction that needs to be tested.
As this API is a potential subject for extraction into a separate module, tests should be written in some standalone manner.

[2021-10-27 09:41] manovotn opened #307 "Provide test coverage for build compatible extensions"
CDI 4.0 introduces build compatible extensions that will work under both, CDI Lite and Full.
We need to create tests for the functionality that will be akin to what we do for portable extensions.

[2021-11-01 13:35] #303 closed

[2021-11-02 08:48] #305 closed

[2021-11-03 09:08] manovotn commented on #276
This issue is now outdated, closing it.

[2021-11-03 09:08] #276 closed

[2021-11-03 09:09] manovotn commented on #271
I think this issue is now outdated due to changes we made. Please re-open it if I am mistaken @dstepanov.

[2021-11-03 09:09] #271 closed

[2021-11-03 09:11] manovotn commented on #270
@dstepanov how do you suggest we alter the test?

[2021-11-15 21:30] manovotn opened #314 "Adapt EE container tests to recent beans.xml changes"
This only concerns TCK tests that require EE container (WFLY, GF, Liberty,...) to run.
I have cobbled together a WFLY with CDI 4 and Weld 5 snapshot and I am running it against TCKs. This is uncovering some (roughly) 200 tests that are failing. Most failures will be just missing annotations because of empty `beans.xml` or other trivial changes.

I am planning to look into it and send a PR within a

[2021-11-18 13:54] #314 closed

[2021-11-23 15:37] manovotn opened #317 "Version mismatch"
CDI API has version 4.0.0.x
CDI TCK has version 4.1.0.x

This needs to be aligned and as discussed on the meeting today (23.11.), we agreed that having TCKs as 4.1.0 was a mistake, not intention. Therefore, we need to change the current project version from `4.1.0-SNAPSHOT` to `4.0.0-SNAPSHOT` and any subsequent releases should contain version `4.0.0` instead.

This isn't a big deal as all version

[2021-11-23 15:42] manovotn commented on #306
Resolved via https://github.com/eclipse-ee4j/cdi-tck/pull/310

[2021-11-23 15:42] #306 closed

[2021-11-24 16:18] manovotn commented on #317
Apparently this was fixed yesterday in [this commit](https://github.com/eclipse-ee4j/cdi-tck/commit/432847438fbbd689b4cecf530886b3d8cfdd04ae) and we even have `4.0.0.Alpha4` release out :-)

[2021-11-24 16:18] #317 closed

[2021-12-07 15:13] Ladicek opened #320 "AmbiguousInjectableReferenceTest and UnsatisfiedInjectableReferenceTest are not in `full` package"
These tests use `@Test(groups = CDI_FULL)`, but are not in the `full` package. We should move them.

[2021-12-07 15:15] manovotn opened #321 "Create negative tests for build compatible extensions"
Build compatible extensions (in their `@Enhancement` and `@Registration`) phases state that their methods need to have exactly one parameter from certain types.

We should provide tests that break these restrictions (multiple or no params) and are expecting a deployment problem.

[2021-12-07 15:24] Ladicek commented on #321
It's not `@Synthesis`, it's `@Registration`.

[2021-12-07 15:27] manovotn commented on #321
OFC, I am bad at talking and typing simultaneously :)
I've edited the issue description.

[2021-12-07 15:31] manovotn commented on #307
Basic coverage was provided via https://github.com/eclipse-ee4j/cdi-tck/pull/312

There will be subsequent PRs such as https://github.com/eclipse-ee4j/cdi-tck/pull/322 or issues such as https://github.com/eclipse-ee4j/cdi-tck/issues/321 but those can be tracked separately.
Closing this issue as resolved.

[2021-12-07 15:31] #307 closed

[2021-12-07 16:09] manovotn opened #324 "Provide test coverage for OM exposing Bean"
Issue is described in https://github.com/eclipse-ee4j/cdi/issues/563
If we decide to accept the proposed solution, we'll need a simple TCK test that asserts this for standard class-based bean.

[2021-12-07 16:17] manovotn opened #325 "Review if tests with @SessionScope are under Full category"
If https://github.com/eclipse-ee4j/cdi/pull/577 we need to review all tests using this scope and whether they have Full category.
A quick `grep` shows a bunch of them, but not too many, which are possible candidates for this move.

[2021-12-08 10:18] #320 closed

[2021-12-08 10:25] #325 closed

[2021-12-08 10:53] manovotn commented on #270
Closing because of inactivity. If this is still an issue, feel free to reopen it.

[2021-12-08 14:49] #321 closed

[2021-12-08 16:36] #324 closed

[2021-12-14 10:32] manovotn opened #330 "Lang model TCK issues on newer JDKs"
As part of https://github.com/eclipse-ee4j/cdi/issues/583 I encountered several parts on the lang model TCK that were problematic with JDK 16 while passing with JDK 11.

This concerns any runtime CDI Full implementation (in this case Weld) that will use Java reflection as a basis for the lang model.

An example of the issue is a method with receiver containing generics:
[code]

When accessed via r

[2021-12-16 16:59] graemerocher commented on #262
@manovotn @starksm64 @Ladicek what was the final decision on `@AroundInvoke` in the target class. I see definitions like:

https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/java/org/jboss/cdi/tck/interceptors/tests/contract/aroundInvoke/Bean3.java

Are included with the `lite` tests?

[2021-12-16 18:01] manovotn commented on #262
@graemerocher you are right, this isn't supposed to be in Lite.
 `cdi-tck/impl/src/main/java/org/jboss/cdi/tck/interceptors/tests/` is where all interceptor specification TCK tests are. I think I reworked most interceptors tests to operate on interceptors with bindings and we didn't want to split interceptors TCK into different packages.

I must have missed this one (and possibly others?), it was

[2021-12-17 10:31] graemerocher commented on #262
@manovotn thanks for the clarification. There seem to be several cases, like this one as well:

https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/java/org/jboss/cdi/tck/interceptors/tests/order/aroundInvoke/Vehicle.java

[2021-12-17 10:47] manovotn commented on #262
Yeah, most of the reworks I did were focused around `@Interceptors` and other stuff that was `grep`-able.

The one you mentioned will need to be marked Full and we'll need to make a similar version for Lite with only the supported bits (so that we don't coverage on this).

[2021-12-17 10:48] manovotn commented on #262
Feel free to send PRs or, at the very least, please create new issue(s) for them so we keep track of all of them.

[2022-01-04 15:00] manovotn opened #332 "Create smoke test for @SkipIfPortableExtensionPresent"
Currently, we have no coverage for `@SkipIfPortableExtensionPresent` - an annotation that can be used when portable extensions and build compatible extensions co-exist in a CDI Full environment.

We should add a simple smoke test for it.
Note that this will have to belong to a `Full` category.

The way the test will look will be affected by resolution of https://github.com/eclipse-ee4j/cdi/issues/

[2022-01-18 15:09] #332 closed

[2022-01-18 15:11] #330 closed

[2022-01-25 17:53] starksm64 opened #334 "Verify that Lite tests are not using a beans.xml content other than bean-discovery-mode attribute to affect behavior"
It was brought up on today's spec call that there are Lite tests that are dictating behavior by beans.xml content other than the bean-discovery-mode attribute. These need to be investigated.

[2022-01-25 17:59] starksm64 opened #335 "Verify documentation around cdiLiteMode cdi-tck.properties flag"
A miss named cdiLiteMode cdi-tck.properties flag was resulting in a datasource setting check failure. We are specifying Lite behavior via the cdiLiteMode flag and the test groups. Is this documented correctly and do we need two settings?

[2022-01-25 18:01] starksm64 opened #336 "Is there a test of the beans.xml bean-discovery-mode attribute in Lite?"
Are we validating the Lite implementations need to parse the beans.xml bean-discovery-mode attribute in Lite?

[2022-01-25 18:12] manovotn commented on #334
Any chance we can ask whoever identified the issue to give us name of those tests? Going through all tests out there would be very time demanding :-)
I suppose those are some tests that manually add `beans.xml`? Since those added via `WebArchiveBuilder().withBeansXml()` should add anything changing the behavior.

[2022-01-25 18:21] starksm64 commented on #334
The first one pointed out was org.jboss.cdi.tck.tests.alternative.broken.incorrect.name.stereotype.NoAnnotationWithSpecifiedNameTest that is expecting a failure due to a test specific beans.xml. It is those tests calling withBeansXml(...) to add test specific mods without a full group tag that are the problem. There do seem to be a few.

[2022-01-25 18:39] manovotn commented on #336
I am not sure that's testable universally for Lite and Full. But maybe I am just missing something. Here are my thoughts...

There is 3 values it can have:
* `none`
  * The issue with this is that Lite aims to create a singular bean archive and if you create a test that has one archive with discovery `none`, then you don't have any bean archive at all
  * And if memory serves, I have come across a

[2022-01-25 18:49] manovotn commented on #334
@starksm64 that test doesn't have wrong beans.xml, it should simply be a CDI Full test.
Its purpose is to verify what happens if you declare a non-existing stereotype annotation inside beans.xml.

[2022-01-25 18:59] starksm64 commented on #334
Right, that is the problem; It is not in the full test group, so Micronaut was seeing this as a failure while running the Lite tests. Adding the correct group to these tests is the point of this issue.

[2022-01-25 19:11] manovotn commented on #334
Aah ok, I thought the issue is that there are actual tests aimed to test Lite behavior but have CDI Full-like beans.xml.
Got it.

[2022-01-27 05:38] starksm64 commented on #336
So we have this statement in the beans_4_0.xsd schema:

[code]

Should we just be saying that in a Lite environment this is not read?

[2022-01-27 07:47] Ladicek commented on #336
It needs to be read in Lite, but portable testing of the `none` value seems hard, per Matej's explanation above.

Hmm maybe we could have a test with 2 archives, both of them having `beans.xml`, one with `annotated` bean discovery mode, the other with `none` (but some classes with BDAs). Then we could test that only beans from the first archvie exist. @manovotn, do you think the TCK can do that? I

[2022-01-27 09:48] manovotn commented on #336
Sure that's definitely possible but I didn't bring it up because I thought we don't want to do that for Lite. Apparently, I missed the fact that we already have lots of Lite tests with WAR.
We just need to make sure that the deployment structure is valid for Full - meaning that the WAR should have `annotated` discovery and the library should have `none` else you'd bump into visibility issues betwe

[2022-01-27 10:25] Emily-Jiang commented on #336
+1 on adding tests to test `none` and others.

I am unclear about the `all` as bean-discovery-mode in lite. Do we treat as if saying `annoted` or we fail with invalid beans.xml. We need to clarify the behaviour. What about other invalid values such as mispelt `anotated`? I think it is better to thrown error message for anthing other than `none` or `annotated` in lite.

[2022-01-27 10:43] manovotn commented on #336
No because that would create a non-portable behavior between Lite and Full (i.e. taking the same deployment to CDI Full would result in different behavior).

This is the tricky part - you cannot fail. Remember that all CDI Lite tests are executed by CDI Full implementations as well and those have to understand `all` mode and pass the test! Hence this one case is not testable within TCKs which is w

[2022-01-27 12:43] Ladicek commented on #336
I think we could possibly go one step further and define how _exactly_ a bean discovery mode of "all" is non-portable.

We currently say:

We could say something like:

That said, I don't think this is a big deal.

[2022-01-27 15:47] #334 closed

[2022-01-27 16:02] manovotn commented on #336
We could, but it will, again, not be testable so I don't think it's worth the hassle. Alternatively we could just say that those impls are "encouraged" to treat it as deployment problem.

The only way we could test these things would be a property indicating mode in which the TCK is executed and the assertions tuned to that. But I would be -100 on that one because it just makes TCK way less readab

[2022-01-27 16:42] Emily-Jiang commented on #336
What is the Lite behaviour when it sees `bean-discovery-mode=all`? I don't think it is enough to say non-portable behaviour occurs. What is the Weld defined behaviour?

[2022-01-27 18:32] manovotn commented on #336
Weld is a CDI Full implementation. As such it understands `all` as any CDI implementation did up until now.

Please see the spec doc, 2.11.1. Bean archives.
PDF version from the last release has a link mentioned here - https://eclipse-ee4j.github.io/cdi/announcement/2022/01/25/400-RC3-spec.html

That is, to my knowledge, all the definition we have.
Since we wanted Lite to be subset of Full and to

[2022-01-28 08:50] Ladicek commented on #336
It can't possibly be portable between across Lite-only and Full, so we have to say it's non-portable. What do you suggest we say on top of that?

Fair enough. I'm fine with keeping the situation as is, or we could have a group `LITE_INTEGRATION`? :-)

[2022-01-28 09:09] manovotn commented on #336
Crossed my mind as well but then it gets complicated for Lite implementation to tell which groups they need to execute and even worse for Full impls.
Frankly, I'm too +1 for keeping it as is.

[2022-01-28 11:54] Emily-Jiang commented on #336
The lite does not say anything about what other value except "annotated" behaves. Some runtime only suppots Lite only and I think the value of `all` maybe can be translated to `annotated` as Lite only supports `annoated` or `none`. If we add. a test, the test should check different results based on whether running in lite or full. By the way, the `none` value as `bean-discovery-mode` was not spece

[2022-01-28 12:00] manovotn commented on #336
2.11.1. Bean archives, quoting:

• contains a beans.xml file with the bean-discovery-mode of none, or,
• contains a portable extension or a build compatible extension and no beans.xml file
113
is not a bean archive.

[2022-01-28 12:09] manovotn commented on #336
Nope. This break portability from Lite to Full.
Imagine you have an `interface SomeBean` and then you have `@Dependent class BeanImpl1 implements SomeBean` and also `class BeanImpl2 implements SomBean`. Furthermore, assume somewhere in your application there is `@Inject SomeBean`. Lastly, the archive has beans.xml with discovery mode `all`.

With your suggestion, the deployment will work with CDI

[2022-01-28 20:48] #335 closed

[2022-01-31 12:03] Emily-Jiang commented on #336
understand the challenge. I think leaving the bean-discovery-mode with anything except `none` or `annotated` unspeced would cause confusions. If it is unspeced, working on Lite is different from working on Full. There is no portable

What is your proposal for maintaining portability from Lite to Full. I feel not specing the behaviour in Lite is even worse as the end users do not know what it will

[2022-01-31 12:52] Ladicek commented on #336
I believe we have to distinguish 2 things:

1. our ability to specify the desired behavior
2. our ability to test that an implementation conforms to the specification

I submitted #591 with my proposal for dealing with item no 1. Feel free to comment there.

When it comes to item no 2., we may have to admit that testing deployment problems is always hard and certain things may just be left unteste

[2022-01-31 13:15] manovotn commented on #336
We already have all we need to maintain portability from Lite to Full. So long as the Lite application conforms to defined behavior, it is portable. The point of this issue is with mode `all` which is *not* ATM specced as valid value for Lite.

The inability of testing whatever behavior we agree on is the crux of this issue. And the reason why you cannot test it is precisely portability and the ge

[2022-02-01 15:27] starksm64 opened #340 "Beans, Contexts, and EL org.jboss.cdi.tck.spi integration interfaces"
Need to look at tests that are using the Beans, Contexts, and EL org.jboss.cdi.tck.spi integration interfaces that are not currently in a cdi-full test group.

[2022-02-01 15:37] Ladicek commented on #340
I think the most important is the `EL` interface, because CDI Lite doesn't depend on EL (at least that has been my running assumption).

Similar situation is the `Beans.passivate` and `activate` methods, that's also out of the Lite scope. The other methods on `Beans`, as well as all the `Contexts` methods, should be fine for Lite.

[2022-02-14 07:37] manovotn opened #343 "Unsatisfied dependency in recently edited test"
https://github.com/eclipse-ee4j/cdi-tck/pull/342 has introduced a bug into the TCK.
CDI Full `DependentContextTest` is now missing a producer for one bean leading to a test error.

I'll send a PR momentarily

[2022-02-14 07:57] #343 closed

[2022-02-14 16:48] starksm64 opened #345 "Clarify the requirements around interceptors compatible implementation requirements"
It was suggested that CDI full compatible implementations could be used as compatible implementations for the interceptors spec. This was questioned due lack of an explicit statement, and some apparent missing signature tests. I believe that CDI has been an Interceptors compatible implementation since its inception. Full should continue to be a compatible implementation, but Lite cannot be due to

[2022-02-14 16:56] starksm64 opened #346 "Current signature test file is missing update to SkipIfPortableExtensionPresent"
The current cdi-api-jdk-11.sig file has the old @SkipIfPortableExtensionPresent string based value. It needs to be updated to the Class value:

[code]

[2022-02-14 19:36] starksm64 opened #347 "Create a separate cdi-lite-api-jdk11.sig file?"
Do we need a separate cdi-lite-api-jdk11.sig file that excludes the jakarta.interceptor classes that are not appropriate for a CDI Lite implementation? If such an implementation would depend on the jakarta version, it would just have these extra classes, but if an implementation provides its own, it may not create classes are are not needed (AroundInvoke, Interceptors, ...).

[2022-02-15 06:43] Ladicek commented on #347
The classes that are not relevant to CDI Lite are, to the best of my knowledge:

- `AroundTimeout`
- `Interceptors`

And most likely also:

- `ExcludeClassInterceptors`
- `ExcludeDefaultInterceptors`

Out of these 4, 3 of them are irrelevant to CDI Full as well. So IMHO, if noone created a stripped down version of the Interceptor API for CDI before 4.0, I don't see anyone creating a stripped down

[2022-02-15 09:30] Emily-Jiang commented on #347
agreed with @Ladicek! `Interceptors` are used by EJBs.

[2022-02-15 15:24] starksm64 commented on #347
So on the call today it was decided that Lite implementations should not have a separate signature test. The reasoning was that:

1. It is simply to meet the requirement be depending on the Jakarta Interceptors API artifact
2. We have said we don't want to limit what Lite implementations can do, meaning they are free to support features from Full and Interceptors.

[2022-02-15 15:24] #347 closed

[2022-02-15 15:26] starksm64 commented on #346
This has been fixed, and the signature test map file updated to include the full set of signatures from Jakarta Interceptors.

[2022-02-15 15:26] #346 closed

[2022-02-16 13:21] manovotn commented on #340
Going through the tests, I agree that `Contexts` util class is fine and doesn't hurt in Lite.

Most of EL has been taken care of but I found one more which I think is misplaced.
And then there is `Beans` with its passivation/activation calls. Some are on req. scoped beans which are part of Lite but from what I recall we deliberately avoid mentioning passivation there, so I'd mark them as Full as w

[2022-02-16 19:42] #340 closed

[2022-02-22 15:13] #336 closed

[2022-02-23 01:56] starksm64 commented on #345
Added statement about CDI being a Jakarta Interceptors compatible implementation.

[2022-02-23 01:56] #345 closed

[2022-03-18 14:31] tevans78 opened #353 "Create tests to verify that Startup and Shutdown events are fired"
I can not find any CDI 4.0.0 TCK tests that actually validate that the new Startup and Shutdown events are correctly fired.
The events were added to the API and spec here: https://github.com/eclipse-ee4j/cdi/pull/543

At the moment in 4.0.0, there is a single reference to Startup in a BCE test but I do not think that test checks the event was fired, only that an observer is present
https://github.

[2022-03-18 14:36] Ladicek commented on #353
I vaguely recall we debated that for a bit and thought it's probably one of those things that are really hard to test. At least in case of `Shutdown`. I don't recall why we didn't add a test for `Startup` -- we couldn't really verify _when_ exactly it is fired, but we should be able to verify that it _was_ fired. @manovotn do you perhaps remember?

[2022-03-18 15:06] manovotn commented on #353
Hmm, I don't remember. Maybe this was simply forgotten it the barrage of API and TCK changes? I really can't imagine why we wouldn't add *any* test whatsoever.

We should be able to test both event for CDI SE.
However, outside of that (and therefore for just Lite), we can only assert `Startup` unless we create an observer for `Shutdown`
that would blow up the test and we assert that exception.

An

[2022-03-18 16:45] starksm64 commented on #353
I have assigned this to myself and will look at adding some tests.

[2022-03-18 18:13] starksm64 commented on #353
I added a Startup event observer to the org.jboss.cdi.tck.tests.event.observer.priority.contextLifecycleEvent.ApplicationScopedObserver class and updated the ApplicationContextLifecycleEventObserverOrderingTest to verify that a Startup event was seen, and it is not in Weld 5.0.0.CR1. I checked out the 5.0.0.CR1 tag, and updated the jboss-tck-runner pom.xml to use the 4.0.1-SNAPSHOT cdi-tck-core-im

[2022-03-18 18:25] starksm64 commented on #353
So if Weld 5.0.0.CR1 really does not support the Startup/Shutdown events and we have not tests in the TCK, we really should respin the 4.0.0 release and restart the current ballot.

[2022-03-18 18:32] manovotn commented on #353
@starksm64 I am aware of it, see https://issues.redhat.com/browse/WELD-2709
I will include it in the Final release of Weld so we will have it covered there.

[2022-03-18 18:34] Emily-Jiang commented on #353
Even though Weld 5.0.0.CR1 supports the event, we still have no tests, which is enough to void the current ballot. I think I will need to go ahead to cancel the ballot @starksm64. Agree?

[2022-03-18 18:47] starksm64 commented on #353
I think we should reset with a Weld 5.0.0.CR2 and new 4.0.0 release. I can't make the next CDI meeting if we want to discuss there as I have an all day engineering meeting.

[2022-03-23 02:59] dstepanov opened #356 "Some of the tests are using `@AroundInvoke` on the target class and should be exluded or changed for Lite"
If I'm correct that it's only supported on CDI-full:
- `declaring @AroundInvoke interceptor methods on target classes (i.e. on beans).`

`AroundInvokeOrderTest` is one of the cases, I think it should be changed to validate the order without the bean itself interceptor.

[2022-03-23 04:28] dstepanov opened #357 "Confusing usage of `RequestScoped` in `BuiltinInstanceDependentObjectTest`"
I'm trying to understand how the request scope is supposed to work after hitting the problem with:

[code]

Spec defines when request scope is active:

[code]

And the definition of the async observer method:

[code]

So I'm not really sure if this case is correct according to the spec.

Also, it would be nice if request scope tests were in a separate package and not mixed with other scenarios.

[2022-03-23 08:49] manovotn commented on #357
I think this is the case of observer method notification.
The spec talks about this here - https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#observer_notification
And it also mentions invocation of OM here - https://jakarta.ee/specifications/cdi/2.0/cdi-spec-2.0.html#observers_method_invocation

In short, you need to create an instance of that bean in order to be able to notify it (assum

[2022-03-23 09:05] dstepanov commented on #357
I meant to have a separate test that tests things around request scope

[2022-03-23 09:06] manovotn commented on #357
So, after a discussion with Martin and Ladislav, this test is actually only passing in current implementations because of Arq. adapter automatically activating req. scope for test methods (due to various reasons; be it mocking the real environment or because it is over a servlet protocol etc).

So changing the bean to app scope should be a way to go because there is nothing in this test that requi

[2022-03-23 09:43] manovotn commented on #356
`AroundInvokeOrderTest` is a test from interceptors specification TCK, not a CDI one.
Therefore, there is no notion of Lite and Full.
(all of interceptors TCK are under a separate package)

I think we only changed tests with interceptors within CDI tests and left interceptors TCK as such untouched because those need to cover full spectrum of what interceptors specification requires. There were als

[2022-03-23 09:44] #357 closed

[2022-03-23 09:54] manovotn commented on #357
Not that I know of, but I am releasing RC-7 as we speak because that's needed for ballot rerun (due to the missing test for newly added `Startup`/`Shutdown` events). So expect it in Central within an hour.

[2022-03-23 09:58] dstepanov commented on #356
I think it’s a good idea to have that test but maybe it can be adjusted. Can somebody clarify that the scenario with a target interceptor is supported? FYI @graemerocher

We do have a list of tests that are failing for us but it’s mostly because it’s WIP

[2022-03-24 15:19] Azquelt opened #359 "Invalid Build Compatible Extension tests don't include the extension class"
Tests for invalid Build Compatible Extension tests (e.g. [EnhancementMultipleParamsTest](https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/java/org/jboss/cdi/tck/tests/build/compatible/extensions/invalid/EnhancementMultipleParamsTest.java)) are only adding the service provider file to the test archive and are not adding the actual extension class.

Depending on how the test is run

[2022-03-24 17:51] Azquelt opened #361 "IntrospectServlet in JavaEEComponentsTest should be a bean"
I think this class would have been a bean until we changed the default discovery mode to annotated in #250.

Now we either need to add an annotation to `IntrospectServlet` or set the bean discovery mode back to all in this test.

[2022-03-24 22:49] Azquelt commented on #361
In particular, this servlet needed to be a bean because it has producer and observer methods.

[2022-03-25 13:19] #361 closed

[2022-03-31 11:15] manovotn opened #364 "Add test for async event exception handling with single exception in it"
This is a TCK counterpart of https://github.com/eclipse-ee4j/cdi/issues/599

We currently have this test - https://github.com/eclipse-ee4j/cdi-tck/blob/master/impl/src/main/java/org/jboss/cdi/tck/tests/event/observer/async/handlingExceptions/MultipleExceptionsInObserversNotificationTest.java

However, it only asserts case with multiple exceptions. We should add a similar one that has only one exce

[2022-04-08 09:57] Azquelt opened #367 "InvalidatingSessionDestroysConversationTest doesn't configure Faces correctly"
It looks like [`InvalidatingSessionDestroysConversationTest`](https://github.com/eclipse-ee4j/cdi-tck/blob/master/web/src/main/java/org/jboss/cdi/tck/tests/context/conversation/InvalidatingSessionDestroysConversationTest.java) is meant to work like this:

* Make a request which is handled by Faces using `clouds.xhtml`, which looks up the ConversationScoped `Cloud` bean and starts a long-running co

[2022-04-08 10:18] Azquelt commented on #367
It looks like #315 also changed the web.xml but that change was reverted in #318, where @manovotn notes that he was seeing this test fail on WildFly.

[2022-04-08 10:22] Azquelt commented on #367
I should also note that I don't have much experience with Faces so I may have misunderstood something about this test, but the test changes since 3.0 look wrong to me and do explain the failure I'm seeing.

[2022-04-08 14:20] Azquelt opened #369 "non.contextual.ContainerEventTest requires discovery-mode=all"
`org.jboss.cdi.tck.tests.lookup.injection.non.contextual.ContainerEventTest` checks that `ProcessAnnotatedType` events are fired for EE component objects (Servlet, Tag Handler, Tag Library, Filter, Session bean, JSF managed bean).

This will only happen if the component classes are also beans. In the 3.0 TCK, we defaulted to adding a beans.xml with discovery-mode=all, but in 4.0 we add a beans.xml

[2022-04-11 11:23] #369 closed

[2022-04-11 11:25] #364 closed

[2022-04-11 12:01] manovotn commented on #367
I am faces noob myself so I might have mangled the test. Plus at the time of writing there was just about zero EE servers to run reliably against :)

[2022-04-11 12:38] #367 closed

[2022-04-25 14:44] dstepanov opened #372 "Dependent disposal method test is not correct"
https://github.com/eclipse-ee4j/cdi-tck/blob/0fe8560f544e41f2372dadaf8df54b53536147f6/impl/src/main/java/org/jboss/cdi/tck/tests/context/dependent/DependentContextTest.java#L142-L146

To destroy `nextCreationalContext` should be used by definition `the context in which this instance was created`.

[2022-04-25 15:00] Ladicek commented on #372
That looks right, indeed the last line should read `tarantulaBean.destroy(nextTarantula, nextCreationalContext);`. WDYT @manovotn?

[2022-04-25 15:37] manovotn commented on #372
The test itself is actually testing something else - that the dependency in disposer method is not the same across several beans and their destroy methods.
That aside, it seems to be an oversight and I agree that the reference should for `nextCreationalContext`.

[2022-04-25 15:48] manovotn commented on #372
As a side note - looking into Weld, we always call pre-destroy/dispose callbacks for given instance regardless of whether the CC fits (and apparently we are not alone since no impl found out about this TCK bug yet).
Perhaps this is best effort behavior as we might not be able to fully tell if the CC really belongs to given instance.

[2022-04-25 16:01] dstepanov commented on #372
In my case destroy didn’t trigger the callback so the hash was the same.

[2022-06-02 16:56] starksm64 opened #376 "CDI dist artifact-install.sh has wrong groupId for parent pom"
The dist artifacts/artifact-install.sh script has the wrong groupId for the cdi-tck-parent pom:
[code]

It should be -DgroupId=jakarta.enterprise rather than -DgroupId=org.jboss.cdi.tck

[2022-06-03 01:45] #376 closed, assigned to starksm64

[2022-06-03 18:09] starksm64 opened #378 "Userguide is inconsistent with jboss-tck-runner examples in CDI TCK dist"
The userguide shows the following setup for the Web Profile:

[code]

and no example setup for the Full Platform. However, the jboss-tck-runner/pom.xml setup uses the following for the Web Profile:
[code]

and the following for the Full Platform:
[code]

It really makes no sense to require a Jakarta EE server to support the Java SE CD APIs as it is a completely separate launch mode that would requ

[2022-06-08 08:38] manovotn opened #380 "PersistenceContextInjectionTest needs update due to changes in JPA"
Two methods in `PersistenceContextInjectionTest` are now incorrect:
* `testBeanTypesAndBindingTypesOfPersistenceContext`
* `testBeanTypesOfPersistenceUnit`

The reason being this commit from the JPA repo - https://github.com/eclipse-ee4j/jpa-api/commit/1ae01ae3793d129bf921e9b1fe893bed744065d8
Both, `EntityManager` and `EntityManagerFactory` now implement `AutoClosable` which will be included as a

[2022-06-08 08:45] manovotn commented on #380
FYI @Azquelt @arjantijms just to save you some headache - this is likely to be a problem in GF and Liberty as well.

[2022-06-08 11:12] arjantijms commented on #380
Thanks for the heads-up @manovotn. We're tracking the remaining failures in https://github.com/eclipse-ee4j/glassfish/issues/23961

[2022-06-08 11:48] #380 closed

[2022-06-08 11:49] starksm64 commented on #378
This was updated in the 4.0.3 release.

[2022-06-08 11:49] #378 closed

[2022-06-20 09:19] dstepanov opened #383 "Version 4.0.5 fails on a missing dependency"
It looks like `org.jboss.test-audit:jboss-test-audit-impl` is not available in the maven central:

[code]

It is available in the Jboss repo but it would be nice not to require the use of a custom repo.

[2022-06-20 09:23] dstepanov commented on #356
I have implemented this functionality so I guess we can close it.

[2022-06-20 09:23] #356 closed

[2022-06-20 09:28] Ladicek commented on #356
I guess we'll get to this again with Quarkus / ArC, where we don't intend to implement interceptors declared on target classes (or at least didn't, last time I checked), so adding groups to the interceptors TCK is still likely to happen. I think :-)

[2022-06-20 09:34] dstepanov opened #386 "`InterceptorLifeCycleTest` should't require destory interceptors to be initialized at the instance creation"
`org.jboss.cdi.tck.interceptors.tests.contract.interceptorLifeCycle.InterceptorLifeCycleTest`

Cannot find any requirements for the interceptors (especially destroy once) to be initialized at the instance creation. It doesn't really make sense to require something like this.

[2022-06-20 09:58] Ladicek commented on #386
I guess I probably agree it doesn't make much sense to require this (though there might be good reasons I'm not aware of), but the test itself is correct. The Interceptors specification https://jakarta.ee/specifications/interceptors/2.0/interceptors-spec-2.0.html#interceptor_life_cycle says:

I couldn't find any instance of "except as noted below" (happy to be proven wrong here), so it seems to me

[2022-06-20 10:30] dstepanov commented on #386
I keep missing the interceptors spec. I guess we can close it, but it doesn't make sense to have such a requirement.

[2022-06-20 13:42] manovotn commented on #383
Yea, I think this one is not synced with Central.

I am not sure if any other project still uses this, I recall updating it for the sake of EE 9 but we should probably look into what it actually does for this projects (it was a test coverage tool IIRC and probably required update of the TCK audit files as well?) and move it as a submodule here.

[2022-06-20 13:43] manovotn commented on #383
BTW this is not just 4.0.5, this should be true for any CDI TCK version.

[2022-06-20 14:01] manovotn commented on #270
Reopened as there is now a pending PR - https://github.com/jakartaee/cdi-tck/pull/387

[2022-06-20 14:15] Ladicek commented on #270
The PR originally contained some code to avoid depending on `Type.equals()` for type equality, but that code was removed. I believe that `Type.equals()` is the best thing to do, and custom implementations of `Type` need to interoperate correctly. Closing again :-)

[2022-06-20 14:15] #270 closed

[2022-06-20 14:21] manovotn commented on #386
ATM, I can't think of any either, Might be a remnant of former implementations or former limitations. Interceptors are (or were?) also implemented by EJB so there might potentially be some reason there as well?

Either way, this is something that could be raised in the interceptors GH repo, so closing this issue.

[2022-06-20 14:21] #386 closed

[2022-06-20 19:04] starksm64 commented on #383
The test-audit depednency is only used during the build of the TCK dist. It can be disable in one of two ways:
1. When importing a TCK dependency exclude the two test-audit dependencies:

[code]

2. By disabling the the tck-audit profile by specifying -DskipTckAudit on the command line when running.

The tck-audit profile is enabled by default because you cannot build the TCK without it enabled. W

[2022-06-21 14:58] manovotn commented on #383
This should now be resolved via https://github.com/wildfly/wildfly/pull/15425

[2022-06-24 00:42] breakponchito opened #389 "TCK Challenge Tests with FailingHttpStatusCode exception"
**Specification:**
[cdi 4.0](https://jakarta.ee/specifications/cdi/4.0/)

**Challenged test(s):**
[org.jboss.cdi.tck.tests.context.application.async.ApplicationContextAsyncListenerTest#testApplicationContextActiveOnError](https://github.com/jakartaee/cdi-tck/blob/master/web/src/main/java/org/jboss/cdi/tck/tests/context/application/async/ApplicationContextAsyncListenerTest.java#L79)
[org.jboss.cdi.

[2022-06-24 09:25] manovotn commented on #389
This challenge is linked to a discussion on mailing list which started with this post - https://www.eclipse.org/lists/cdi-dev/msg00618.html

IIRC, for the sake of TCK test it doesn't even matter if the returned code of 200 or 500 (the code isn't checked at all).
Therefore, we could change it by adding the suggested option to web client and ignore the failure.

Whether this is right or wrong is a g

[2022-06-24 10:06] arjantijms commented on #389
@markt-asf is the one to mention here, but he already answered the question in the email thread.

When a Servlet throws an exception  during an async process, should the response be automatically set to 500, or is it the responsibility of the error handler to set the 500 (or other code). That's the main question.

Might also be good to compare what plain Tomcat is doing here, even though it doesn'

[2022-06-29 09:05] manovotn commented on #383
Coming back to this, I don't think this was a good decision. Not being able to build the project without a switch smells like bad practice. I'd rather people excluded the dependency if it is a problem.
Cc @Ladicek, maybe he'll have some other idea how to solve this?

[2022-06-29 11:32] manovotn commented on #383
@Ladicek that was my understanding as well (and shame on me for not trying it out) but that's not the case.
You get compilation errors because of all the annotations such as `@SpecAssertion` or `@SpecVersion`

[2022-06-29 11:37] Ladicek commented on #383
Ouch! Yea I didn't try it either :-) OK, that's bad. Frankly, I don't understand why we don't publish `jboss-test-audit-impl` into Maven Central, because `jboss-test-audit-api` is there (and so is `jboss-test-audit-parent`). If we published `-impl` to Central, the extra profile and everything would become completely obsolete.

[2022-06-29 12:04] manovotn commented on #383
I agree.
I've created a JBoss nexus JIRA to ask if we could have `impl` artifact published as well - https://issues.redhat.com/browse/NEXUS-609
Meanwhile, I will reopen this issue to keep track of it.

[2022-06-29 13:21] starksm64 commented on #383
Yes, the latest workaround the jboss repo 503 errors was focused on the runtime side of usage, not the build side. There still is the issue of having dependencies in the tck artifacts that are not used. The tck-audit*.xml files and annotations generation should probably be in a separate project that is consumed by the tck test artifacts.  There is no reason to build these every time the tests are

[2022-06-29 13:39] manovotn commented on #383
I am not sure I know what are you talking about? This `impl` artifact has never had a single version published into central which seems like a sort of deliberate exclusion?

There was always the option to do `-DskipTckAudit` if you want to. I am just of the opinion that a maven project should be buildable by plain `mvn clean install` :)

True, a lot of bigger projects import dependencies with exlu

[2022-06-29 13:56] starksm64 commented on #383
One could use -DskipTckAudit, but every downstream consumer who was running into 503 errors had to do that. Since we build the tck artifacts, I switched the burden of avoiding the jboss repo errors to the build step in the eclipse ci environment so that every downstream user did not have to deal with the problem.

It was projects that were importing the TCKs to run them that were seeing the unused

[2022-06-29 13:59] manovotn commented on #383
I understand, but if we manage to get the `impl` artifact to Maven Central, these issues should just disappear.

[2022-06-30 22:46] scottmarlow opened #391 "The Language Model TCK should probably be published to https://download.eclipse.org/jakartaee/cdi/4.0"
The Language Model TCK should be run following instructions https://github.com/jakartaee/cdi-tck/blob/master/doc/reference/src/main/asciidoc/executing.asciidoc#executing-the-lang-model-test-suite but the TCK is missing from https://download.eclipse.org/jakartaee/cdi/4.0 and is also not listed in https://github.com/jakartaee/specifications/blob/master/cdi/_index.md (for https://jakarta.ee/specifica

[2022-07-01 14:04] starksm64 commented on #391
The lang model tck is just part of the cdi tck dist, for example in the 4.0.5 dist, it is found at cdi-tck-4.0.5/artifacts/cdi-tck-lang-model-4.0.5.jar

The artifacts/pom.xml that is used to install the tck artifacts into the local repo includes this section to install the lang model tck:
[code]

Once that is done, the instructions in the lang model tck section of the cdi tck userguide allow you t

[2022-07-05 12:54] OndroMih opened #392 "Fix the LangModelTckTest test"
GlassFish is failing the LangModelTckTest added in CDI TCK 4.0.5 with the https://github.com/jakartaee/cdi-tck/pull/382 PR. It seems to me that the test is wrong and doesn't include the `org.jboss.weld.lang.model.tck.LangModelExtension` class in the deployment.

GlassFish fails the deployment with the following message:

[code]

More info about the failure in [this Jenkins job run](https://ci.ecli

[2022-07-05 12:58] OndroMih commented on #392
I believe that no new tests should be added in a patch release. Some implementations are already certified with an older 4.0 CDI TCK and might fail this new test.

I suggest that the `LangModelTckTest` is removed in a new 4.0.6 release and added back to be released in the next minor or major CDI release (after Jakarta EE 10).

Alternatively, all certified implementations should be certified again

[2022-07-05 17:57] manovotn commented on #392
To be fair, I had no idea @starksm64 added copy of Weld's lang model execution setup directly into TCK repo.
We shouldn't use `weld` package there either.

And you are correct that the class should be part of the deployment.

It was always intended that implementations need to pass lang model TCKs as they are literally required for build compatible extensions to work.
That being said, I am not sur

[2022-07-05 18:10] manovotn commented on #392
@OndroMih since you mentioned (via mail) that this i blocking you, can you confirm that adding the `LangModelExtension` into the deployment fixes the problem for you?

We could do a TCK release with that (all commiters in this repo can do that via Jenkins job) as a fix for now and then discuss if we want to address this in some other way.

[2022-07-05 18:29] starksm64 commented on #392
The documentation around the lang model tck has been there from the 4.0.0 release, with the section that recommends running the tck using a build model extension, so I would not say there has been any addition in a minor release. What has happened was clarifying the requirement to run, including the lang model tck artifact and an example runner in the dist. I'm fine with accepting a challenge as t

[2022-07-05 22:49] OndroMih commented on #392
I'm not very familiar with the CDI TCK, at least not with the changes in 4.0. I thought that `LangModelTckTest` was a test in the TCK but now I undeerstand that it's just an example of how the CDI Language Model TCK should be set up. I assume that for GlassFish, we can just modify the `LangModelTckTest` class in the example runner and it's not a violation of the TCK requirements, am I right, @star

[2022-07-05 23:25] starksm64 commented on #392
Yes, that is correct.

[2022-07-06 08:27] OndroMih commented on #392
Then I'll close this issue, thanks.

I think the confusion happened due to everybody in a hurry to pass the TCK with GlassFish and start a ballot for Jakarta EE 10 ASAP. I read the CDI TCK guide and it clearly states that the Weld Test Runner is just an example project, so the instructions are fine for me. The test class in the runner could be improved but let's wait until GlassFish passes the TCK

[2022-07-06 08:27] #392 closed

[2022-07-08 14:59] arjantijms commented on #392
For anyone following this, GF now passes the CDI Lang Model TCK: https://github.com/eclipse-ee4j/glassfish/pull/24040

[2022-07-11 15:56] breakponchito commented on #389
@manovotn  @arjantijms Hi guys, Do you have any update on this?. On our side we exclude the test from our arquillian tck configuration

[2022-07-11 16:47] breakponchito commented on #389
@arjantijms I'm going to review today, thanks. I'll let you know my findings

[2022-07-15 18:59] breakponchito commented on #389
I already tested the servlet async call on tomcat throwing ServletException and it is showing 500 error

![image](https://user-images.githubusercontent.com/279375/179292772-7375d184-2c71-443e-8068-5061efe54f52.png)
this means that the correct way to deal with async errors is to propagate to the client, is that ok? I think this challenge is valid. Who can help with this?

[2022-07-18 09:17] manovotn opened #396 "Create TCK coverage for BeanManager.getContexts()"
Related specification issue - https://github.com/jakartaee/cdi/issues/628

Tracking issue for TCK tests for this feature. **Note that the feature is scheduled for next CDI version (beyond 4.0).**
The test should probably use a custom scope with custom context as all impls can (in theory) have multiple contexts per given built-in scope making assertions on that unreliable.

[2022-07-18 09:33] Ladicek opened #397 "TCK coverage for ambiguity resolution during dynamic lookup"
Need to verify/improve TCK coverage for https://github.com/jakartaee/cdi/pull/627

[2022-07-18 09:40] Ladicek commented on #396
Also we probably should have 2 variants of the same test -- one for context registered through BCExtension, and another one for context registered through PExtension.

[2022-07-18 13:25] Ladicek commented on #397
I believe the `testIteratorMethod()` and `testAlternatives()` methods of `DynamicLookupTest` test are sufficient. The `testIteratorMethod()` method covers the case when there are no alternatives among the candidates, while `testAlternatives()` covers the case when there _are_ alternatives among the candidates. Hence, closing.

[2022-07-18 13:25] #397 closed

[2022-07-18 14:59] breakponchito commented on #389
Do you mean to add the change to the following TCK tests?
[org.jboss.cdi.tck.tests.context.application.async.ApplicationContextAsyncListenerTest#testApplicationContextActiveOnError](https://github.com/jakartaee/cdi-tck/blob/master/web/src/main/java/org/jboss/cdi/tck/tests/context/application/async/ApplicationContextAsyncListenerTest.java#L79)
[org.jboss.cdi.tck.tests.context.conversation.determina

[2022-07-18 18:33] manovotn commented on #389
webClient.getOptions().setThrowExceptionOnFailingStatusCode(false)

Yes, that's exactly what I meant.

The test doesn't assert on return value of `webClient.getPage(getPath(AsyncServlet.TEST_ERROR));` in any way.
The exception is a byproduct of this call, instead, CDI TCK tests that on error listeners are invoked which is defined and works.
Hence why I said I think it is invalid.

[2022-07-19 14:14] Pandrex247 commented on #389
I'm still unclear on how this is an invalid challenge.
It's not directly asserting on it, but the test **requires** that the server not return a failing status code (on a request that _failed_), and no specification defines that it must behave this way.

Since you're rejecting the challenge, and given that we can't pass the TCK unless we modify Payara specifically for this test, we would need a se

[2022-07-19 14:42] manovotn commented on #389
The test doesn't care what it returns, it makes no assertions on status code and has been like this for a long time.
The only reason why this now fails for some implementations is probably https://github.com/jakartaee/cdi-tck/commit/0f9f0a484f10903e484b676e6bcea62ec97e91e3 which updated htmlunit version and they seem to have changed their default behavior. Hence we are now seeing this bug.

I am n

[2022-07-19 15:04] Pandrex247 commented on #389
I think we're talking around each other now :P
The test cares what the server returns by nature of the update to htmlunit, which now throws an exception on a non-200 return code and thus fails the test (since the exception is not caught) - as you say it's essentially a bug in the test that only affects specific implementations 👍

It matters if the challenge is rejected because it means we can't ex

[2022-07-20 08:51] #389 closed

[2022-07-26 11:16] erdlet opened #400 "Questions about why CDI TCK fails when Jakarta MVC / Eclipse Krazo are bundled in Glassfish 7"
Hi all,

as the headline describes, I'd like to ask a few questions about specific CDI TCK tests which are failing when Jakarta MVC and Eclipse
Krazo are bundled in GF 7. I've done some analysis but I'm not sure if my conclusions are correct, so maybe someone here can help.

## ProcessBeanAttributesNotFiredForBuiltinBean

This test fails, because Krazo creates a `@RequestScoped` instance of `HttpS

[2022-07-26 15:30] manovotn commented on #400
This one looks like spec violation.
The tests is linked to this spec part (first 4 lines of this section) - https://jakarta.ee/specifications/cdi/4.0/jakarta-cdi-spec-4.0.html#process_bean_attributes
It is nothing new either, I checked version 2.0 which already had this.

In this case, I think the TCK should be altered to only make assertions on the classes in the test. It doesn't count with possi

[2022-07-26 15:33] manovotn commented on #400
I will take a closer look at `AfterTypeDiscoveryTest` tomorrow (no longer in front of laptop) and put together a PR that will change how the test operates. It seems fairly simple from first glance.

[2022-07-26 17:01] erdlet commented on #400
Thanks a lot for the quick response and information !

The possible spec violation will be fixed on Krazo side as soon as my PR is merged (tomorrow).

Regarding the other test, I think it makes sense to exclude non-TCK classes from there too.

But just for my personal understanding: Does the priority of a bean has an impact on those events, so e.g. a lower priority can fix this problem?

[2022-07-26 19:14] manovotn commented on #400
@erdlet see https://jakarta.ee/specifications/cdi/4.0/jakarta-cdi-spec-4.0.html#after_type_discovery

(and other similar sentences)
So yes, this does matter but whether it would help I am not sure from the top of my head. It depends if the test asserts which items is first, second, third or something like first, last (as those added might still be last in the collection)

[2022-07-27 13:58] #400 closed

[2022-07-28 14:01] manovotn commented on #400
@erdlet 4.0.7 TCK should now be syncing with Central.
I was hoping to get it out sooner today, but it took me a while longer as there were some weird network issues in the Jenkins CI.

[2022-07-28 14:04] erdlet commented on #400
@manovotn Thanks a lot!

No problem, we had this Eclipse Jenkins network trouble a few days ago too.

[2022-09-19 11:39] manovotn opened #402 "Missing test for plain @Inject BeanContainer"
It seems like current TCKs don't have any test for a simple injection of `BeanContainer` which is a built-in bean provided by the implementation.
We should add one that tests standard injection and dynamic resolution.